body{
    margin : 0;
    overflow: hidden;
    background-image: url("../../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
/* Style of the top navigation bar */
@font-face {
    font-family: 'oumgouleh';
    src: url('../../fonts/Avenir.ttc');
}

*{
  margin: 0;
  padding: 0;
}

p,h3,h4{
  font-family: 'oumgouleh';
}

p{
  font-weight: 400%;
}

.title_container{
  height:20%;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #b2bec3;
  background-color: #54a0ff;
  justify-content: center;
}

.title_container h3{
  color:white;
  font-size: 1.5em;
}

.contentconnexion{
  margin-top: -5em;
  border-radius: 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 80%;
  height: 40vh;
  font-family: "oumgouleh";
  font-size: 16px;
  background-color: white;
  max-width: 38em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0.9;
}


.superform_container{
  height: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-count: 2;
  padding-bottom: 0em;
  padding-top: 4%;
}

.form_container{
  height: 100%;
}

.information{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:32%;
}

.information h4{
  height: 40%  
}

.information input{
  height: 3vh;
  width: 90%;
  font-family: "oumgouleh";
  outline: none;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius:0.4em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
  padding-left: 10%;
}

select{
  height: 3vh;
  width: 100%;
  font-family: "oumgouleh";
  outline: none;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius:0.4em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
  padding-left: 10%;
}

.changement{
  height: 10%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-count: 2;
}

input:focus{
  border: 1.5px solid #54a0ff;
}

input:hover{
  border: 1.5px solid #54a0ff;
}

input:active{
  border: 1.5px solid #54a0ff;
}

.bt3, .bt4{
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.05em;
  margin:5px;
  overflow: hidden;
}

.bt3 input{
  width: 100%;
  height: 100%;
  background-color:#54a0ff ;
  color: white;
  border-radius: 1.05em;
  border-top-style: hidden;   
  border-right-style: hidden;   
  border-left-style: hidden;   
  border-bottom-style: hidden;
}

.bt4 input{
  width: 100%;
  height: 100%;
  background-color:white ;
  color: black;
  border-radius: 1.05em;
  border-top-style: hidden;   
  border-right-style: hidden;   
  border-left-style: hidden;   
  border-bottom-style: hidden;
  box-shadow: 0px 0px 10px #bdc3c7;
}

.bt4{
  box-shadow: 0px 0px 10px #bdc3c7;
}

a{
  text-decoration: none;
}
