body{
    margin : 0;
    border: solid  1px white;
}
/* Style of the top navigation bar */
@font-face {
    font-family: 'oumgouleh';
    src: url('Ressources/Font/Avenir.ttc');
}
p,h3{
    font-family: 'oumgouleh';
}
p{
    font-weight: 400%;
}
nav {
    position: fixed;
    background-color: white;
    display: flex;
    height: 4em;
    width: 100%;
    box-shadow: 0px 0px 10px #636e72;
    z-index: 3;
    border: solid  1px white;
}


/* Style of the topnav links */
.logoC{
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 4%;
}
.linkC {
    padding-right:2em;
    width: 20%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center

}
.linkC a{
    color :#636e72;
    text-decoration: none;
    font-family: 'oumgouleh';
    font-size: 1.4em;
}

.linkC a:hover{
    color: red;
}

.connexionC{
    height: 4em;
    width: 14%;
    text-align: center;
    margin-right: 1em;
}
.IMGC {
    width: 100%;
    height: 4em;
    display:flex;
    align-items: center;
    justify-content: center;
}
.IMGC img{
    width: 2em;
    height: 2em;
    margin: auto;
    z-index: 4;


}
.menuD {
    height: 6em;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 1.05em;
    border-bottom-right-radius: 1.05em;
    visibility: hidden;
    box-shadow: 0px 3px 10px -7px #636e72;


}

.bt1{
    height: 2.1em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.05em;

}
.bt1:nth-child(1){
    background:white;
    box-shadow: 0px 0px 10px #bdc3c7;
}
.bt1:nth-child(2){
    background-color: #54a0ff;
    color: white;
}



.bt1:nth-child(1):hover{
    box-shadow: inset 0px 0px 10px #d1d8e0;
}

.bt1:nth-child(2):hover{
    box-shadow: inset 0px 0px 25px #4180ce;
}




.connexionC:hover .menuD{
    visibility: visible;
}


.titre{
    text-align: center;
    font-family: B612;
    font-size: 22px;
}
.text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

.bloc1connexion{
    border-radius: 50px;
    border: 10px;
    border-style: double;
    border-color: red;
}

.titreconnexion{
    text-align: center;
}
h3{
    font-family: 'oumgouleh';
    font-size: 22px;
}

p{
    font-family: 'oumgouleh';
    font-size: 16px;
}
.contentconnexion{
    margin-top: 10em;
    margin-bottom: 5em;
    border-radius: 4em;
    box-shadow: 0px 0px 10px #636e72;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "oumgouleh";
    font-size: 16px;
}

form{
    font-family: "oumgouleh";
    font-size: 16px;
}
.centerelements, .centerelementlinks {
    display: flex;
    justify-content: center;

}
.centerelementlinks {
   text-align: center;
}


.centerelementlinks a{
    color: black;
    text-decoration: none;
}

.centerelementlinks a:hover{
    color: #74B2E1;
}
.espace{
    margin-left: 2em;
}

button{
    width: 7em ;
    height: 4.5em;
    border-radius: 1.05em;
    background-color: #74B2E1;
    color: white;
    font-family: "oumgouleh";
    font-size: 16px;
    border: 1px #74B2E1;

    display: flex;
    justify-content: center;
    align-items: center;

}

button:hover{
    cursor: pointer;
}
