body{
    margin : 0;
    background-image: url("../assets/Ressources/Images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'oumgouleh';
    src: url('Ressources/Font/Avenir.ttc');
}

h3{
    font-family: 'oumgouleh';
    color: white;
    font-size: 1.3em;
}

h5{
    font-family: 'oumgouleh';
    font-size: 1.1em;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
}

h6{
    font-family: 'oumgouleh';
    font-size : 15px;

}

p,h3{
    font-family: 'oumgouleh';
}
.bloc{
    background: white;
    width: 50%;
    margin-left: 25%;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
    padding-bottom: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.titre{
    width: 100%;
    display: flex;
    align-items: center;
    border : solid #54a0ff ;
    background-color: #54a0ff;
    justify-content: center;
}

.contenu p {
    text-align: justify;
    padding-right: 3%;
    padding-left: 3%;

}


.conteneur{
    display : flex;
    flex-direction: row;
    margin-left : 2.5%;
    margin-right: 2.5%;
    align-items: center;
}

.image{
    width: 22.5%;
}

.image img{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 80%;
}

.presentation {
    width: 78.5%;
}

.presentation p {
    font-size: 0.8em;
}

.coordonnées p{
    font-family: 'oumgouleh';
    text-align: center;
}