

body{
    margin : 0;
    overflow: hidden;
    background-image: url("../assets/Ressources/Images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.contentmessage{
    margin-top: -5em;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 100%;
    height: 70vh;
    font-family: "oumgouleh";
    font-size: 16px;
    background-color: white;
    max-width: 38em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.9;

}
.contentmessage:hover{
    transform: scale(1.02);
}


.title_container{
    height:15%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #b2bec3;
}
.title_container h3 {
    color:#444444;
    font-size: 1.5em;
}


.message_container{
    height:75%;
    width: 90%;
    text-align: justify;

}

message_container p{
    white-space: pre-line;
    font-size: 1.5em;
}



.form_message{
    height: 72%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    margin-left: 10%;
}
.form_message input{
    height: 4vh;
    width: 100%;
    font-family: "oumgouleh";
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-radius:0.4em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
    padding-left: 15px;
    outline-color:#54a0ff;
    justify-items: center;

}

input:focus{
    border: 1.5px solid #54a0ff;
}

input:hover{
    border: 1.5px solid #54a0ff;
}

input:active{
    border: 1.5px solid #54a0ff;
}

textarea{
    margin-top: 5%;
    width: 100%;
    height: 50%;
    font-family: "oumgouleh";
    font-size: 100%;
}

.envoyer_messageM{
    width: 100%;
    height: 13%;
    position: relative;
}
.envoyer_message{
    background-color: #54a0ff;
    width: 100%;
    border-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: white;
    transition: all 0.3s;
}
.envoyer_message:hover{
    background-color: #4585d5;
}
