body{
    margin : 0;
    background-image: url("../assets/Ressources/Images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @font-face {
    font-family: 'oumgouleh';
    src: url('Ressources/Font/Avenir.ttc');
  }

  h3{
    color: white;
}
  p,h3{
    font-family: 'oumgouleh';
  }
  .contenu p{
    font-weight: 400%;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
  }

  .test{
      width: 100%;
      display: flex;
      flex-direction : column;
      justify-content : center;
      margin-top: 4em;
      margin-bottom: 3em;
  }

  .bloc{
    width: 40%;
    margin-left:30%;
    height: 100%;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 8px;
    background : white;
  }

.title_container{
    height:20%;
    width: 100%;
    display: flex;
    align-items: center;
    border : solid 5px #54a0ff ;
    background-color: #54a0ff;
    justify-content: center;
    margin : 0px;
  }


.contenu{
    width : 100%;
    text-align: center;
}

.image{
    width: 100%;
}

.image img{
    width: 90%;
    text-align: center;

}

