body{
    margin : 0;
    overflow: hidden;
    background-image: url("../Ressources/Images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
  }
  /* Style of the top navigation bar */
  @font-face {
    font-family: 'oumgouleh';
    src: url('../Ressources/Font/Avenir.ttc');
  }
  *{
    margin: 0;
    padding: 0;
  }
  p,h3,h4{
    font-family: 'oumgouleh';
  }
  p{
    font-weight: 400%;
  }
  
  .contentconnexion{
    margin-top: -5em;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 80%;
    height: 34vh;
    font-family: "oumgouleh";
    background-color: white;
    max-width: 38em;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.9;
   
  }
  .contentconnexion:hover{
    transform: scale(1.02);
  }
  .title_container{
    height:20%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #b2bec3;
    background-color: #54a0ff;
    justify-content: center;
  }
  .title_container h3{
    color:white;
    font-size: 1.5em;
  }
  .superform_container{
    height: 60%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    column-count: 2;
  
  }
  
  .form_container{
    height: 100%;
  }
  .information{
    height: 45%;
    font-size: 1em;
    
  }
  .information h4{
    height: 50%;
  }
  
  .changement{
    height: 10%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-count: 2; 
    
  }
  
  .bt3, .bt4{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.05em;
    margin:5px;
    
    overflow: hidden;

  
  }

  .bt3 input{
    width: 100%;
    height: 100%;
    background-color:#54a0ff ;
    color: white;
    border-radius: 1.05em;
    border-top-style: hidden;   
    border-right-style: hidden;   
    border-left-style: hidden;   
    border-bottom-style: hidden;
    
  }
  .bt4 input{
    width: 100%;
    height: 100%;
    background-color:white ;
    color: black;
    border-radius: 1.05em;
    border-top-style: hidden;   
    border-right-style: hidden;   
    border-left-style: hidden;   
    border-bottom-style: hidden;
    box-shadow: 0px 0px 10px #bdc3c7;
  }
  .bt4{
    box-shadow: 0px 0px 10px #bdc3c7;
  }
  
  a{
    text-decoration: none;
  }