body{
  margin : 0;
}
/* Style of the top navigation bar */
@font-face {
  font-family: 'oumgouleh';
  src: url('Ressources/Font/Avenir.ttc');
}
p,h3{
  font-family: 'oumgouleh';
}
p{
  font-weight: 400%;
}
nav {
  position: fixed;
  background-color: white;
  display: flex;
  height: 4em;
  width: 100%;
  box-shadow: 0px 0px 10px #636e72;
  z-index: 3;
}


/* Style of the topnav links */
.logoC{
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.linkC {
  padding-right:2em;
  width: 20%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center

}
.linkC a{
  color :#636e72;
  text-decoration: none;
  font-family: 'oumgouleh';
  font-size: 1.4em;
}

.linkC a:hover{
  color: #74B2E1;
  border-bottom: #636e72 3px solid;
}

.connexionC{
  height: 4em;
  width: 14%;
  text-align: center;
  margin-right: 1em;
}
.IMGC {
  width: 100%;
  height: 4em;
  display:flex;
  align-items: center;
  justify-content: center;
}
.IMGC img{
  width: 2em;
  height: 2em;
  margin: auto;
  z-index: 4;


}
.menuD {
  height: 6em;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 1.05em;
  border-bottom-right-radius: 1.05em;
  visibility: hidden;
  box-shadow: 0px 3px 10px -7px #636e72;
}

.menuD a{
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.bt1{
  height: 2.1em;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.05em;
}

.bt1:nth-child(1){
  background:white;
  box-shadow: 0px 0px 10px #bdc3c7;
}
.bt1:nth-child(2){
  background-color: #54a0ff;
  color: white;
}



.bt1:nth-child(1):hover{
  box-shadow: inset 0px 0px 10px #d1d8e0;
}

.bt1:nth-child(2):hover{
  box-shadow: inset 0px 0px 25px #4180ce;
}




.connexionC:hover .menuD{
  visibility: visible;
}

.parallaxC{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position:relative;
}
.parallax{
  background-image: url("Ressources/Images/L.jpg");
  filter: blur(5px);
  transform: scale(1.1);
  height:100%;
  width: 100%;
  z-index: -2;
  position: absolute;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxColor{
  background-color: rgba(34, 47, 62,0.5);
  width: 100%;
  height: 100%;
  position: absolute;


}
.textParaC{
  height: 100%;
  width: 100%;
  z-index:2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;


}
.textParaC p{
  font-size: 5em;
  color: white;
  position: absolute;
}
.grosBloc{
  display: flex;
  flex-direction: column;
  width: 45%;
  box-shadow: 0px 0px 10px #636e72;
  border-radius: 1em;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 5%;

}

.bloc1{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.b2{
  font-family: 'oumgouleh';
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.text_container{
  width: 100%;
}
.b2 p,.text p{
  font-family: 'oumgouleh';
  color : black;
  text-align: justify;
  margin-right: 1em;
  font-size: 1.5vw;
  margin-left:1em;
}


.b2 h1, .titre h1{

  font-family: 'oumgouleh';
  color : black;
  text-align: center;
  font-size:3vw;
  border-bottom: grey 1px solid;
  padding-bottom: 0.4em;
}

.b2 h1{
  width: 50%;
}
.titre h1{
  width: 100%;
}
.bloc3{
  height: 90em;
}

@media screen and (max-width: 500px) {
.bloc2{
  flex-direction: column;
  border-top-left-radius:2em;
  border-top-right-radius:2em;
}
.b2 h1{
  font-family: 'oumgouleh';
  color : white;
  text-align: center;
}
}
