body{
    margin : 0;
    overflow: hidden;
    background-image: url("../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

@font-face {
    font-family: 'oumgouleh';
    src: url('Ressources/Font/Avenir.ttc');
}
p,h3, h1{
    font-family: 'oumgouleh';
}
p{
    font-weight: 300%;
}

.container{
    width: 30%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 1.5em;
    overflow: hidden;
}
.title_container{
    width: 100%;
    background-color: #54a0ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.middle_container{
    height: 70%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle_container h3{
    margin-left: 10%;
}
.bottom_container{
    height: 15%;
    width: 100%;
    background-color: #54a0ff;
}
.bottom_container a{
    text-decoration: none;
    color: white;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;

}
.test{
    width: 90%;
    height: 18%;
    display: flex;
    justify-content: space-between;

}

.tone h3{
    margin-top: 1.5em;

}

.temp h3{
    margin-top: 1.5em;

}
.reflex h3{
    margin-top: 1.5em;

}
.freq h3{
    margin-top: 1.5em;

}
.text_container{
    height: 15%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_container h3{
    margin: 0;
}


.heart {
    font-size: 180%;
    animation: beat 0.25s infinite alternate;
    transform-origin: center;
    margin-right: 10%;
    margin-top: 0.5em;

  }
  
  /* Heart beat animation */
  @keyframes beat {
    to {
      transform: scale(1.3);
    }
  }
  


  h2 {
    font-family: Helvetica, Arial, sans-seirf;
    font-weight: 300;
    animation: pulse 1s linear 0s infinite alternate;
  }
  
  .thermometer {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid black;
    background: black;
    animation: colorChange 1s linear 0s infinite alternate;
    margin-top: 2em;
    margin-right: 10%;

  }
  .thermometer:before, .thermometer:after {
    content: "";
    width: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  .thermometer:before {
    content: "";
    height: 40px;
    background: black;
    animation: thermometer 1s linear 0s infinite alternate;
    z-index: 9;
    width: 0.5em;
  }
  .thermometer:after {
    content: "";
    height: 20px;
    border: 3px solid black;
    border-radius: 50px 50px 0 0;
    margin-bottom: 0.35em;
  }
  
  @keyframes colorChange {
    0% {
      background: black;
    }
    100% {
      background: black;
    }
  }
  @keyframes thermometer {
    0% {
      height: 15px;
      background: black;
    }
    100% {
      height: 30px;
      background: black;
    }
  }
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }

  .tone img{
      height: 50%;
      margin-top: 1em;
      margin-right: 10%;


  }
  .reflex img{
    height: 50%;
    margin-top: 1em;
    margin-right: 10%;

}