body{
    margin : 0;
    overflow: hidden;
    background-image: url("../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

/* Style of the top navigation bar */
@font-face {
    font-family: 'oumgouleh';
    src: url('../fonts/Avenir.ttc');
}

p,h3 {
    font-family: 'oumgouleh';
}

p {
    font-weight: 400%;
}

.titre {
    text-align: center;
    font-family: B612;
    font-size: 22px;
}

.text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

.contentfaq{
    margin-top: -5em;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 100%;
    height: 70vh;
    font-family: "oumgouleh";
    font-size: 16px;
    background-color: white;
    max-width: 38em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.9;
}

.contentfaq:hover{
    transform: scale(1.02);
}

.title_container{
    height:15%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #b2bec3;
}

.title_container h3 ,.title_partie h3{
    color:#444444;
    font-size: 1.5em;
}

.title_partie h3{
    margin-left: 5%;
}

.faq_container{
    height:75%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-base-color: #9098A9;
}

.faq_container h3, .faq_container p{
    color:#444444;
}

.questions{
width: 90%;
margin-left: 5%;
margin-bottom: 5px;
}

.bouton,.reponses{
    width: 100%;
    font-family: oumgouleh;
    color:#444444;
    display: flex;
    justify-content: center;
}

.bouton{
    width: 100%;
    font-size: 1.3em;
    outline: none;
    border-radius: 1em;
    border-style: none;
    padding-bottom:0.2em;
    padding-top:0.2em;
    text-align:center;
}

.bouton:hover{
  background-color: #54a0ff;
  color: white;
}
.reponses{
  width: 90%;
  margin-left: 5%;
  display: none;
}
.reponses h3{
    font-size:1em;
    text-align: justify;
}
