body{
    margin : 0;
    overflow: hidden;
    background-image: url("../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

/* Style of the top navigation bar */
@font-face {
    font-family: 'oumgouleh';
    src: url('../fonts/Avenir.ttc');
}

p,h3{
    font-family: 'oumgouleh';
    text-decoration: none;
}

p{
    font-weight: 400%;
}


.title_container{
    background-color: #54a0ff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_container h3{
    color: white;
    font-size: 1.4vw;
}

.gestion_container h3, .gestion_container p{
    color:#444444;
}
.contentconnexion{
    margin-top: -5em;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 80%;
    height: 45vh;
    font-family: "oumgouleh";
    font-size: 16px;
    background-color: white;
    max-width: 38em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.9;

}



.superform_container{
    height: 70%;
    width: 80%;
    display: flex;
    align-items: center;
}
.form_container{
    height: 100%;
}


.bt3 a{
    text-decoration: none;
    
}

.bt6{
    height: 2.9em;
    width: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 1.05em;
    margin-bottom: auto;
    margin-top: auto;
    
}


.bt6{
    background:white;
    box-shadow: 0px 0px 10px #bdc3c7;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.bt6 a{
    color:black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

.bt6:hover{
    box-shadow: inset 0px 0px 10px #d1d8e0;

}