body{
    margin : 0;
    overflow: hidden;
    background-image: url("../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Style of the top navigation bar */
@font-face {
    font-family: 'oumgouleh';
    src: url('../fonts/Avenir.ttc');
}

p,h3{
    font-family: 'oumgouleh';
}

p{
    font-weight: 400%;
}

.tableau_container {
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px,sans-serif;
    width:100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.tableau_container thead{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tableau_container a{
    text-decoration: none;
    color: black;
}

.tableau_container a:hover{
    color: #54a0ff;
}

.tableau_container thead th {
    background-color: #54a0ff;
    color: white;
    text-align: center;
    height: 3em;
    padding:8px;
    font-size: 1.2em;
}

.tableau_container tbody td {
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    height: 3em;
    text-align: center;

}

.tableau_container tr:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
}

.tableau_container tr:nth-child(even) {
    border-right: 1px solid #E6E4E4;
}

.titre{
    text-align: center;
    font-family: B612;
    font-size: 22px;
}

.text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

.contentGestion{
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 80%;
    height: 65%;
    font-family: "oumgouleh";
    font-size: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.9;
    position: relative;
    margin-left: 10%;
    margin-top: 8em;


}

.gestion_container{
display: flex;
height: auto;
flex-direction: column;

}

.plus_container {
    margin-bottom: 2em;
    margin-top: 1em;
    height: 2%;
    width: 2%;
    margin-left: 49%;
}
.plus_container img{
    height: 300%;
    width: 100%;
}


.title_container{
    height:15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #b2bec3;
    background-color: #54a0ff;
}

.title_container h3 ,.title_partie h3{
    color: white;
    font-size: 1.5em;
}

.title_partie h3{
    margin-left: 5%;
}

.gestion_container{
    height:75%;
    width: 100%;
    scrollbar-base-color: red;
}

.gestion_container h3, .gestion_container p{
    color:#444444;
}

.gestionnaireM{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #54a0ff;
    display: flex;
    justify-content: center ;
    align-items: center;

}

.gestionnaire{
border-style: none;
    height: 100%;
    background-color: #4585d5;
    font-size: 1.3em;
    color: white;

}

.gestionnaire:hover{
    background-color: #4585d5;
}

.gestionnaireM button{
    height: 80%;
    margin:1%;
    border-radius: 2.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
    background-color: white;

    text-align: center;
    width: 15em;
    font-size: 1.2em;

  }
  
  .gestionnaireM select{
    height: 80%;
    margin:1%;
    border-top-left-radius: 2.5em;
    border-bottom-left-radius: 2.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 15em;
    font-size: 1.2em;
    padding-left: 15px;

  }

.tbody_container{
    overflow-y:visible;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 90%;
    margin-left: 5%;
    height: auto;
    border-radius: 1em;
    box-shadow: 0px 0px 10px #bdc3c7;
    max-height: 80%;
    margin-top: 3% ;
    font-size: 1em;

  }
  

.espace{
    min-height: 9em;
  }


  .gestionnaireM button:hover{
    box-shadow: inset 0px 0px 10px #bdc3c7;

  }
  .gestionnaireM select:hover{
    box-shadow: inset 0px 0px 10px #bdc3c7;

  }
  .plus_container img:hover{
    transform: scale(1.05);
  }