 body{
  margin : 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-image: url("../images/pilots.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
    font-family: 'oumgouleh';
    src: url('../fonts/Avenir.ttc')format('truetype');
}

p,h3,h2,h1{
  font-family: 'oumgouleh';
}

.container{
margin-top: 8em;
position: relative;
width: 90%;
display: flex;
height: 65em;
flex-direction: column;
border-radius: 1em;
overflow: hidden;
background: white;
}


.info_container{
  height: 5em;
  background-color: #54a0ff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_container h1{
  color: white;
  font-size: 2em;
}

.gestionnaireM{
  width: 100%;
  height: 4em;
  box-shadow: 0px 0px 10px #bdc3c7;
  background-color: #54a0ff;
  display: flex;
  justify-content: center ;
  align-items: center;
  position: absolute;
  bottom:0;
  right: 0;
  left: 0;
}

.gestionnaireM button{
  height: 80%;
  margin:1%;
  border-radius: 2.5em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
  background-color: white;
  text-align: center;
  width: 15em;
  font-size: 1.2em;

}

.gestionnaireM select{
  height: 80%;
  margin:1%;
  border-top-left-radius: 2.5em;
  border-bottom-left-radius: 2.5em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 15em;
  font-size: 1.2em;
  padding-left: 15px;

}

.gestionnaireM input, button:hover{
  box-shadow: inset 0px 0px 10px #d1d8e0;
}

.tableau_container {
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px, sans-serif;
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.tableau_container thead{
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
}

.tbody_container{
  width: 80%;
  overflow-y:visible;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
  margin-left:10%;
  margin-top : 1em;
  border-radius: 1em;
  margin-bottom: 6em;
  box-shadow: 0px 0px 10px #bdc3c7;
}

.tableau_container a{
  text-decoration: none;
  color: black;
}

.tableau_container a:hover{
  color: #54a0ff;
}

.tableau_container thead th {
  background-color: #54a0ff;
  color: white;
  text-align: center;
  height: 3em;
  font-size: 1.2em;
}

.tableau_container tbody td {
  color: #333;
  height: 3em;
  text-align: center;
}

.tableau_container tr:nth-child(odd) {
  background: #F8F8F8;
  border-right: 1px solid #E6E4E4;
} 

.tableau_container tr:nth-child(even) {
  background: white;
  border-right: 1px solid #E6E4E4;
}

.espace{
  min-height: 10em;
}