body{
    margin : 0;
    overflow: hidden;
    background-image: url("../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
/* Style of the top navigation bar */
@font-face {
  font-family: 'oumgouleh';
  src: url('../Avenir.ttc');
}

p,h3{
  font-family: 'oumgouleh';
}

p{
  font-weight: 400%;
}

.contentInscription{
  margin-top: -5em;
  border-radius: 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 40%;
  height: 50vh;
  font-family: "oumgouleh";
  font-size: 16px;
  background-color: white;
  max-width: 30em;
  min-width: 23em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.title_container{
  height:15%;
  width: 80%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #b2bec3;
}

.title_container h3{
  color:#444444;
  font-size: 1.5em;
}

.form_container{
  height: 72%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction_container1{
  height: 20%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.IC_container{
  width: 80%;
  height: 40%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction_container2{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_container{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.IC_container input{
  height: 4vh;
  width: 90%;
  font-family: "oumgouleh";
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius:0.4em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
  padding-left: 15px;
  outline-color:#54a0ff;
}

input:focus{
  border: 1.5px solid #54a0ff;
}

input:hover{
  border: 1.5px solid #54a0ff;
}

input:active{
  border: 1.5px solid #54a0ff;
}

.mdp_oublié{
  width: 100%;
}

.mdp_oublié a{
  color:#54a0ff;
}

.mdp_oublié a:hover{
  color:#2c578d;
}

.logC{
  width: 100%;
  height: 13%;
  position: relative;
}

.log{
  background-color: #54a0ff;
  width: 100%;
  border-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  color: white;
  transition: all 0.3s;
}

.log:hover{
  background-color: #4585d5;
}

a{
  text-decoration: none;
}

input:required:valid{
  border: #4585d5 2px solid;
}

input:required:invalid{
  border: darkgrey 2px solid;
}

.erreurM p
{
  color: red;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}