body{
  margin : 0;
  overflow: hidden;
  background-image: url("../images/pilots.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
/* Style of the top navigation bar */
@font-face {
  font-family: 'oumgouleh';
  src: url('../fonts/Avenir.ttc');
}

p,h3{
  font-family: 'oumgouleh';
}

p{
  font-weight: 400%;
}

.titre{
  text-align: center;
  font-family: B612;
  font-size: 22px;
}

.text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
}

.contentInscription{
  margin-top: -5em;
  border-radius: 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 50%;
  height: 70vh;
  font-family: "oumgouleh";
  font-size: 16px;
  background-color: white;
  max-width: 38em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.CondUtilisations{
  flex-direction: row;
  width: 100%;
  justify-content: left;
  padding-left: -0px;
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  width: 90%;
}

.cbx span:first-child {
  position: relative;
  margin: 0%;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}

.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #54a0ff;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 8px;
}

.cbx:hover span:first-child {
  border-color: #54a0ff;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #54a0ff;
  border-color: #54a0ff;
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.CondUtilisations a {
   color: #54a0ff;
}

.CondUtilisations a:hover {
  color: #2c578d;
}

.form_container{
height: 72%;
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
margin-top: 1em;
}

.form_container input,.form_container select{
  height: 4vh;
  width: 100%;
  font-family: "oumgouleh";
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius:0.4em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
  padding-left: 15px;
  outline-color:#54a0ff;
}

.genre{
  width: 104%;
}

input:focus{
border: 1.5px solid #54a0ff;
}

input:hover{
border: 1.5px solid #54a0ff;
}

input:active{
border: 1.5px solid #54a0ff;
}

select option {
  border: 1.5px solid #54a0ff;
}

.mdp_oublié{
width: 100%;
}
.mdp_oublié a{
color:#54a0ff;
}

.mdp_oublié a:hover{
color:#2c578d;
}

.title_container{
height:15%;
width: 80%;
display: flex;
align-items: center;
border-bottom: solid 1px #b2bec3;
}

.title_container h3{
color:#444444;
font-size: 1.5em;
}

.logC{
width: 100%;
height: 13%;
position: relative;
}

.log{
background-color: #54a0ff;
width: 100%;
border-style: none;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.3em;
color: white;
transition: all 0.3s;
}

.log:hover{
background-color: #4585d5;
}

a{
text-decoration: none;
}

input:required:valid{
  border: #4585d5 2px solid;
}

input:required:invalid{
  border: darkgrey 2px solid;
}

.erreurM p{
  color: red;
}