body{
    margin : 0;
    overflow: hidden;
    background-image: url("../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
@font-face {
    font-family: 'oumgouleh';
    src: url('../fonts/Avenir.ttc');
}

p,h3{
    font-family: 'oumgouleh';
}

.form_container{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_container input{
    height:13%;
    width: 85%;
    font-family: sans-serif;
    outline: none;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-radius:0.4em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
    padding-left: 15px;
}

input:focus{
    border: 1.5px solid #54a0ff;
}

input:hover{
    border: 1.5px solid #54a0ff;
}

input:active{
    border: 1.5px solid #54a0ff;
}

.contentconnexion{
    margin-top: -5em;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 40%;
    height: 50vh;
    font-family: "oumgouleh";
    font-size: 16px;
    background-color: white;
    max-width: 30em;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.9;
}

.title_container{
    height:15%;
    width: 80%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #b2bec3;
}

.title_container h3{
    color:#444444;
    font-size: 1.5em;
}

p{
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
}

.instruction_container1{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

.logC{
    width: 100%;
    height: 15%;
    position: relative;
}

.log{
    background-color: #54a0ff;
    width: 100%;
    height: 100%;
    outline: none;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: white;
    transition: all 0.3s;
    font-family: "oumgouleh";
}

.log:hover{
    background-color: #4585d5;
}


.erreurMail p
{
  color: red;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}


