body{
    margin : 0;
    overflow: hidden;
    background-image: url("../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
/* Style of the top navigation bar */
@font-face {
    font-family: 'oumgouleh';
    src: url('../fonts/Avenir.ttc');
}

*{
    margin: 0;
    padding: 0;
}

p,h3,h4{
    font-family: 'oumgouleh';
}

p{
    font-weight: 400%;
}
  


.titre{
    text-align: center;
    font-family: B612;
    font-size: 22px;
}

.text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

.contentconnexion{
    margin-top: -5em;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 80%;
    height: 50vh;
    font-family: "oumgouleh";
    font-size: 16px;
    background-color: white;
    max-width: 30em;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.9;
}



.superform_container{
    height: 60%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    column-count: 2;
}

.form_container input{
    height: 4vh;
    width: 92%;
    font-family: 'oumgouleh';
    outline: none;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-radius:0.4em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
    padding-left: 15px;
}

.information{
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 2em;
    padding-top: 1em;

}

.information h4{
    padding-bottom:5px;
}

.changement{
    height: 10%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.changement input{
    font-size: 1.3em;
}

input:focus{
    border: 1.5px solid #54a0ff;
}

input:hover{
    border: 1.5px solid #54a0ff;
}

input:active{
    border: 1.5px solid #54a0ff;
}

.title_container{
    height:20%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #b2bec3;
    background-color: #54a0ff;
    justify-content: center;
}

.title_container h3{
    color:white;
    font-size: 1.5em;
}

.bt5{
    background-color: #54a0ff;
    width: 100%;
    height: 100%;
    outline: none;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: white;
    transition: all 0.3s;
    font-family: "oumgouleh";
    border-radius: 1.05em;
}

a{
    text-decoration: none;
}

input:required:valid{
    border: #4585d5 2px solid;
}

input:required:invalid{
    border: darkgrey 2px solid;
}

.erreurM p{
    color: red;
}