body{
  margin : 0;
}

/* Style of the top navigation bar */
@font-face {
  font-family: 'oumgouleh';
  src: url('../fonts/Avenir.ttc');
}

p,h3{
  font-family: 'oumgouleh';
}

p{
  font-weight: 400%;
}

.parallaxC{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position:relative;
}

.parallax{
  background-image: url("../images/L.jpg");
  filter: blur(5px);
  transform: scale(1.1);
  height:100%;
  width: 100%;
  z-index: -2;
  position: absolute;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxColor{
  background-color: rgba(34, 47, 62,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

.textParaC{
  height: 100%;
  width: 100%;
  z-index:2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_Container{
 z-index: 4;
 width: 4%;
 height: 4%;
 margin-right: 0.45%;
 position: absolute;
}

.arrow_Container img{
  height:200%;
  width: 100%;
  z-index:3;
  margin-top: 500%;
  margin-right: 10em;
 
}

.arrow_Container img:hover{
  transform: scale(1.05); 
}

.textParaC p{
  font-size: 5em;
  color: white;
  position: absolute;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.tresgrosbloc{
  display: flex;
  justify-content: space-around;
  margin-bottom:3em;
}

.grosBloc2{
  display: flex;
  flex-direction: column;
  width: 42%;
  box-shadow: 0px 0px 10px #636e72;
  border-radius: 1em;
  overflow: hidden;
  margin-right: 5%;
  margin-top: 5%;
}

.title{
background-color:#54a0ff;
}

.grosBloc{
  display: flex;
  flex-direction: column;
  width: 42%;
  box-shadow: 0px 0px 10px #636e72;
  border-radius: 1em;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 5%;
}

.bloc1{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloc3{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.date1,.date2,.date3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.text a {
  color: #54a0ff;
  text-decoration: none;
}

.text a:hover{
  color: #2c578d;
}

.text_container{
  width: 100%;
}

.b2 p,.text p, .grosBloc2 p{
  font-family: 'oumgouleh';
  color : black;
  text-align: justify;
  margin-right: 1.5em;
  font-size: 1.5vw;
  margin-left:1.5em;
}

.b2 h1, .titre h1{
  font-family: 'oumgouleh';
  color : black;
  font-size:2.3vw;
  font-weight: bold;
  border-bottom: black 1px solid;
}

.grosBloc2 h1{
  font-family: 'oumgouleh';
  color : black;
  font-size:2.3vw;
  font-weight: bold;
  border-bottom: black 1px solid;
}

.grosBloc2 h2{
  font-family: 'oumgouleh';
  color : black;
  text-align: center;
  font-size:3vw;
}

.title h2{
  font-family: 'oumgouleh';
  color : black;
  text-align: center;
  font-size:3vw;
}

.grosBloc2:hover{
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.grosBloc:hover{
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.b2 h1{
  width: 50%;
}

.titre h1{
  width: 100%;
}

.date1 h1{
  width:49%;
}

.date2 h1{
  width:35%;
}

.date3 h1{
  width:38%;
}

.suite{
  height: 5em;
}

@media screen and (max-width: 500px) {
  .bloc2{
    flex-direction: column;
    border-top-left-radius:2em;
    border-top-right-radius:2em;
  }

  .b2 h1{
    font-family: 'oumgouleh';
    color : white;
    text-align: center;
  }
}