body{
    margin : 0;
    overflow: hidden;
    background-image: url("../images/pilots.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

/* Style of the top navigation bar */
@font-face {
    font-family: 'oumgouleh';
    src: url('../fonts/Avenir.ttc');
}

p,h3{
    font-family: 'oumgouleh';
}

.gestion_container p{
    font-weight: 400%;
    font-size: 2em;
}
.title_container h3{
    font-size: 2.2em;
}

.titre{
    text-align: center;
    font-family: B612;
    font-size: 22px;
}

.text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

.contentGestion{
    margin-top: -5em;
    border-radius: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 50%;
    height: 40vh;
    font-family: "oumgouleh";
    font-size: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.9;
}


.title_container{
    height:20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54a0ff;
}

.title_container h3 ,.title_partie h3{
    color:white;
}

.title_partie h3{
    margin-left: 5%;
}

.gestion_container{
    height:75%;
    width: 100%;
    margin-top: 5%;
}

.gestion_container h3, .gestion_container p{
    color:#444444;
}

.gestion_container p{
    text-align: center;
  
}

.gestionnaireM{
    width: 100%;
    height: 20%;
    position: relative;
    background-color: #54a0ff;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.gestionnaire{
    border-style: none;
    height: 100%;
    background-color: #4585d5;
    font-size: 1.3em;
    color: white;
}

.gestionnaire:hover{
    background-color: #4585d5;
}

button{
    height: 80%;
    margin-bottom:100% ;
    margin:1%;
    border-radius: 2.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 8px 0px;
    background-color: white;

    text-align: center;
    width: 13em;
    font-size: 1.3em;
}

button:hover{
    box-shadow: inset 0px 0px 10px #bdc3c7;

}