body{
    margin : 0;
}

h1{
    color:  #212529;
}

h2{
  color:  #727B82;
}

h3{
    color :#B4BDC3;
    font-size: 1.4vw;
}

.container{
    height: 110em;
    background-color: #F2F5F9;
    margin-top:4em;
}

.text_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 10em;
    margin-left:5%;
}

.test_container{
    position:relative;
    margin: 0;
    padding: 0;
    height: 72%;
    width: 100%;
}

.ligne1_container{
    display: flex;
    width: 90%;
    height: 31%;
    justify-content: space-between;
    margin-left: 5%;
}

.petit_test_container{
    width: 28%;
    height: 100%;
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0px 0px 10px #bdc3c7;
}

.ligne2_container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 4%;
}

.grand_test_container{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0px 0px 10px #bdc3c7;
}

.grand_test_container{
    width: 90%;
    height: 100%;
}

.text_test_container{
    height: 15%;
    width: 90%;
    margin-left: 5%;
}

.doug_canva_container {
    width: 80%;
    height: 70%;
    margin-left: 11%;
}

.n1 h1 {
    position: absolute;
    top:15.3%;
    left:16.2%;
    font-size: 2VW;
    margin:0;
    right:50%;
    bottom:50%;
} 

.n2 h1 {
    position: absolute;
    top:15.3%;
    left:49.3%;
    font-size: 2VW;
    margin:0;
    right:50%;
    bottom:50%;
    margin-left: 0.7%;
} 

.n3 h1 {
    position: absolute;
    top:15.3%;
    left:81.7%;
    font-size: 2VW;
    margin:0;
    right:50%;
    bottom:50%;
    margin-left: 0.7%;
} 

.line_chart_container {
    width: 86%;
    height: 70%;
    margin-left: 7%;
    margin-bottom: 4%;
}

canvas{
    max-height: 40em;
    color: linear-gradient(blue, white);
    padding: 0;
    margin:0;
}

.autre_bloc{
    min-height: 5em;
}

.invisible h3{
    width:0%;
    height: 0%;
    color: red;
    visibility: hidden;
}
