<!DOCTYPE html>
<html>
<head>
  <title>Conditions d'ulisations</title>
   <meta charset="utf-8" />
   <link rel="stylesheet" href="../assets/footer.css" />
   <link rel="stylesheet" href="#" />
</head>
<body>
	
<div class="Conf">
	
<h1> Conditions d'ulisations d'AERONIC SOLUTIONS</h1>
<p >
Chez AERONIC SOLUTIONS, nous avons conscience de l’importance de la confidentialité pour nos clients. </br>
Nous voulons nous assurer que vous comprenez comment nous collectons et utilisons vos données personnelles sur tous services que nous proposons.</br>

Bien que la présente Politique de confidentialité s’applique à tous nos services,
si cela s’avère nécessaire, nous communiquerons des informations supplémentaires sur la confidentialité de services spécifiques.

AERONIC SOLUTIONS s’engage à respecter votre confidentialité. </br>
Lisez notre Engagement de confidentialité vis-à-vis de notre clientèle pour obtenir des informations détaillées sur la façon dont nous collectons, utilisons, divulguons, transférons et conservons vos données.</p>

</div>

<div class="Confdonnees">
	<h2> Pourquoi nous collectons vos données personnelles ?</h2>
	<p>
		Nous collectons les données personnelles que vous nous fournissez directement, les informations concernant la manière dont vous utilisez nos services et les informations provenant de sources tierces. Nous utilisons ces informations pour vous fournir des services, ainsi que pour comprendre la manière dont vous utilisez nos services afin d’améliorer et de personnaliser votre expérience et de développer les applications, technologies et contenus les plus pertinents pour nos clients. Nous utilisons également les données personnelles pour vous proposer des publicités personnalisées adaptées à vos centres d’intérêt, conformément à la loi applicable.
	</p>

	<h2>Comment nous collectons vos données personnelles ?</h2>
	<p>
		Nous collectons les données personnelles que vous nous fournissez directement, les informations concernant la manière dont vous utilisez nos services et les informations provenant de sources tierces. Nous utilisons ces informations pour vous fournir des services, ainsi que pour comprendre la manière dont vous utilisez nos services afin d’améliorer et de personnaliser votre expérience et de développer les applications, technologies et contenus les plus pertinents pour nos clients. Nous utilisons également les données personnelles pour vous proposer des publicités personnalisées adaptées à vos centres d’intérêt, conformément à la loi applicable.
	</p>
	<h2>Comment nous protégeons vos données personnelles ?</h2>
	<p>
		Nous collectons les données personnelles que vous nous fournissez directement, les informations concernant la manière dont vous utilisez nos services et les informations provenant de sources tierces. Nous utilisons ces informations pour vous fournir des services, ainsi que pour comprendre la manière dont vous utilisez nos services afin d’améliorer et de personnaliser votre expérience et de développer les applications, technologies et contenus les plus pertinents pour nos clients. Nous utilisons également les données personnelles pour vous proposer des publicités personnalisées adaptées à vos centres d’intérêt, conformément à la loi applicable.
	</p>
</div>



</body>

</html>
