<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/connexion.css" />

</head>
<body>
<nav>
    <div class="logoC">
        <a href="index.html">
            <img src="../assets/Ressources/Images/Logo3.png" width="150" alt="logo" class="logo-image"></a>
    </div>
    <div class="linkC">
        <a href="#">Découvrir</a>
        <a href="#">FAQ</a>
    </div>
    <div class="connexionC">
        <div class="IMGC">
            <img class="Bcon" href="index.html" src="../assets/Ressources/Images/account.png" width=30 alt="##"/>
        </div>
        <div class="menuD">
            <div class="bt1">
                <p>Inscription</p>
            </div>
            <div class="bt1">
                <p>Connexion</p>
            </div>
        </div>
    </div>
</nav>

<div class="contentconnexion">

    <form action="/ma-page-de-traitement" method="post">
        <div class="titreconnexion1"><br>
            <h3>Connectez-vous à Aeronic Solutions</h3>
        </div>
        <pre>
            <div class="informationconnexion">
                Identifiant : <input type="email" name="nom" />
                <br>
                 Mot de passe : <input type="password"name="user_password"/>
            </div>
            <div class="button">
                <button type="submit">Connexion</button>
             </div>
        </pre>
    </form>
</div>
<div class="footer">
    <p> (c) Copyright tous droits réservés Aeronic Solutions Corporation 2021 </p>
    <div class="confidentialites">
        <a href="#">Engagement de confidentialité</a>
        <a href="#">Utilisation de cookies</a>
        <a href="#">Conditions d'utilisations</a>
        <a href="#">Mentions légales</a>
    </div>
</div>
</body>
</html>