<!DOCTYPE html>
<html>
<head>
  <title>Politique des cookies</title>
   <meta charset="utf-8" />
   <link rel="stylesheet" href="../assets/footer.css" />
   <link rel="stylesheet" href="../assets/cookiesStyle.css" />
</head>
<body>
	
<div class="Cook">
	
<h1> Les cookies</h1>
<p >
Les cookies sont de petits fichiers qui stockent des informations sur votre ordinateur, téléviseur, téléphone mobile ou autre appareil. </br>
L’organisme qui place un cookie sur votre appareil peut ainsi vous reconnaître, à travers les différents sites internet, services et appareils que vous utilisez ou visitez, ainsi que d’une session de navigation à l’autre. Les cookies sont très utiles. </br>

</div>

<div class="Cookdonnes">
	<h2> A quoi ils servent  ?</h2>
	<p>

	</p>

	<h2>La gestion des cookies </h2>
	<p>
		 Vous pouvez modifier à tout moment vos préférences en matière de cookies dans notre Outil de gestion des cookies</br>
		 Vous pouvez également supprimer ou bloquer à tout moment les cookies déposés sur votre appareil, en mettant à jour les paramètres de votre navigateur</br>
		 Veuillez noter que la désactivation de certains cookies peut affecter la réalisation de certaines transactions sur le site internet ou bien dégrader votre expérience utilisateur et/ou nous empêcher de vous reconnaître votre navigateur d'une visite à l'autre.

		Nous vous remercions de votre visite et nous vous souhaitons une bonne navigation sur notre site !
	</p>
	
</div>


</div>

</body>
</html>
