<!DOCTYPE html>
<html>
<head>
  <title>Aeronic solutions </title>

  <meta charset="utf-8" />
  <link rel="stylesheet" href="../assets/style.css" />
  <link rel="stylesheet" href="../assets/footer.css" />
</head>
<body>
<nav>
  <div class="logoC">
    <a href="index.html">
      <img src="../assets/Ressources/Images/Logo3.png" width="150" alt="logo" class="logo-image"></a>
  </div>
  <div class="linkC">
    <a href="#">Découvrir</a>
    <a href="faq.html">FAQ</a>
  </div>
  <div class="connexionC">
    <div class="IMGC">
      <img class="Bcon" href="index.html" src="../assets/Ressources/Images/account.png" width=30 alt="##"/>
    </div>
    <div class="menuD">
      <div class="bt1">
        <a href="Inscxription.html"><p>Inscription</p></a>
      </div>
      <div class="bt1">
        <a href="connexion.html"><p>Connexion</p></a>
      </div>
    </div>


  </div>

</nav>
<div class="parallaxC" >
  <div class="textParaC">
    <p>Une Jolie phrase.</p>
  </div>
  <div class="parallax">
    <div class="parallaxColor">

    </div>
  </div>
</div>
<div class="tresgrosbloc">
<div class="grosBloc">
<div class="bloc1">
  <div class="titre 1">
    <h1>
      Que cherchez-vous ?
    </h1>
  </div>
  <div class="text 1">
    <p>Vous êtes une compagnie aérienne et vous rechercher des tests psychomoteurs pour vos pilotes ? Ne tardez plus et venez découvrir la solution de chez aéronic </p>
  </div>
</div>
<div class="bloc2">
  <div class="b2 text_container">
    <h1>Nous découvrir</h1>
    <p>Un an auparavant, Infinite Mesure s'aperçoit d'une chose. Le manque de suivi médical chez les pilotes de ligne. Ainsi, en Septembre dernier, un appel d'offre est lancé afin de trouver une équipe prête à concevoir et réaliser une solution allant de la partie électronique jusqu'à la réalisation du site internet. Cette équipe, c'est Aéronic Solution. </p>
    </div>
</div>
<div class="bloc3">
  <div class="titre 2">
    <h1>Notre produit</h1>
  </div>
  <div class="text 2">
    <p>Afin de permettre à ses clients de réaliser des tests psycho-psychomoteurs, Aeronic a développé une solution de A à Z. Ce dispostifif électronique permet de calculer le rythme cardiaque, la température corporelle, d'effectuer des reconnaissances de tonalité et bien d'autres choses encore.
      De plus, la solution d'Aeronic est connecté à son fabuleux site internet permettant à tous ses usagers de consulter leur résultats en temps réel et d'accéder à l'historique de tous leurs précédents tests. </p>
  </div>
</div>
</div>
<div class="grosBloc2">
<h2>Planning</h2>
<h1>Aujourd'hui</h1>
<p>Présentation client</p>
<h1>4 mai</h1>
<p>lalalalalala</p>
<h1>16 mai</h1>
<p>lalaalalal</p>

</div>
</div>
<div class="suite">

</div>

<div class="footer">
  <p> (c) Copyright tous droits réservés Aeronic Solutions Corporation 2021 </p>
  <div class="confidentialites">
    <a href="confidentialite.html">Engagement de confidentialité</a>
    <a href="Cookies.html">Utilisation de cookies</a>
    <a href="Conditionsutilisations.html">Conditions d'utilisations</a>
    <a href="#">Mentions légales</a>
  </div>
  <div class="barreimage">
     <div class="reseaux "> <a href=" https://twitter.com/AeronicSolution "><img src="../assets/Ressources/Images/logo-twitter-noir-et-blanc-png.png" ></a></div>

      <div class="reseaux"><a href="https://www.instagram.com/aeronicsolutions_/"><img src="../assets/Ressources/Images/instagram.png "></a></div>
      <div class="reseaux"><a href="https://www.snapchat.com/add/aeronicsolution"><img src="../assets/Ressources/Images/snapchat.png"></a></div>

  </div>
</div>

</body>
</html>
