<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/inscriptionStyle.css" />
    <link rel="stylesheet" href="../assets/footer.css" />

</head>
<body>
<nav>
    <div class="logoC">
        <a href="index.html">
            <img src="../assets/Ressources/Images/Logo3.png" width="150" alt="logo" class="logo-image">
        </a>
    </div>
    <div class="linkC">
        <a href="#">Découvrir</a>
        <a href="#">FAQ</a>
    </div>
    <div class="connexionC">
        <div class="IMGC">
            <img class="Bcon" href="index.html" src="../assets/Ressources/Images/account.png" width=30 alt="##"/>
        </div>
        <div class="menuD">
            <div class="bt1">
                <p>Inscription</p>
            </div>
            <div class="bt1">
                <p>Connexion</p>
            </div>
        </div>
    </div>
</nav>
<!-- <div class="contentconnexion">
    <div class="titreconnexion"><br>
        <h3>Connectez-vous à Aeronic Solutions</h3>
    </div>
    <form action="/ma-page-de-traitement" method="post">
        <div class="centerelements">
            <table>
                <tr>
                    <td><p>Identifiant</p></td>
                    <td></label><input type="email" name="idconnexion" id="idconnexion" /></td>
                </tr>
                <tr>
                    <td><p>Mot de passe</p></td>
                    <td></label><input type="password" name="passwordconnexion" id="passwordconnexion" /></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="centerelements">
            <button type="submit">Connexion</button>
        </div>
    </form>
    <div class="centerelementlinks">
        <a href="#">
            <p>Mot de passe oublié</p>
        </a>
        <div class="espace">
        <a href="#">
            <p>Je n'ai pas encore de compte</p>
        </a>
    </div>
</div>






<div class="problemeconnexion">

            </div>
        </pre>
    </form>

</div> -->
<div class="contentInscription">
  <div class="title_container">
    <h3>Inscrivez-vous</h3>
  </div>
    <div class="form_container">
          <input type="text" placeholder="Prénom" autofocus/>
          <input type="text" placeholder="Nom" autofocus/>
          <input type="text" placeholder="Date de naissance" autofocus/>
          <input type="text" placeholder="Adresse-mail" autofocus/>
          <input type="password" placeholder="Mot de passe" />
          <input type="password" placeholder="Confirmer mot de passe" />
          <input type="code" placeholder="I-C" />

          <div class="CondUtilisations">
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none"/>
<label class="cbx" for="cbx"><span>
    <svg width="12px" height="10px" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </svg></span><span>Valider les 
      <a href="#">Conditions générales d'utilisations</a>
    </span></label>
          </div>
    </div>
    <div class="logC">
        <a class="log" href="#">Inscription</a>
      </div>
</div>


<div class="footer bottom">
    <p> (c) Copyright tous droits réservés Aeronic Solutions Corporation 2021 </p>
    <div class="confidentialites">
        <a href="#">Engagement de confidentialité</a>
        <a href="#">Utilisation de cookies</a>
        <a href="#">Conditions d'utilisations</a>
        <a href="#">Mentions légales</a>
    </div>
</div>
</body>
</html>